<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Loan Rejected</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/stylefailed.css') }}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h2>Unfortunately, your Loan was Rejected</h2>
			<p> We regret to inform you that the loan you requested was rejected by all the banks. Below could be the reasons:
			<ul>
				<li>Low FICO Score: A FICO score below the bank's minimum requirement often indicates higher credit risk, leading to loan rejection.</li>
				<li>Insufficient Annual Income: If the applicant's income doesn't meet the bank's criteria, it suggests they might struggle with repayments.</li>
				<li>High Debt-to-Income Ratio: A high ratio indicates that a significant portion of income goes towards debt, increasing default risk.</li>
				<li>Inadequate Number of Salaried Members: Fewer income-earning members in a family might signal insufficient financial support for loan repayment.</li>
				<li>Unstable Occupation: Applicants with a history of frequently changing jobs may be seen as having unstable income sources.</li>
			</ul>
		</p>
			<a href="index-2.html">Back to homepage</a>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
