<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome/css/all.min.css') }}">
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header">
        <!-- Navigation & Logo links updated for Flask routing -->
        <a href="{{ url_for('index') }}" class="navbar-brand logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid" alt="Logo">
        </a>
    </header>
    <!-- /Header -->
    
    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    
                    <!-- Register Content -->
                    <div class="account-content">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-12 col-lg-12 login-right">
                                
                                <!-- Register Form -->
                                <form action="{{ url_for('register') }}">
                                    <!-- Form fields remain the same -->
                                </form>
                                <!-- /Register Form -->
								<form action="{{url_for('hackform')}}">
									<div class="form-group form-focus">
										<input type="text" class="form-control floating">
										<label class="focus-label">Name</label>
									</div>
									<div class="form-group form-focus">
										<input type="text" class="form-control floating">
										<label class="focus-label">Mobile Number</label>
									</div>
									<div class="form-group form-focus">
										<input type="password" class="form-control floating">
										<label class="focus-label">Create Password</label>
									</div>
									<div class="text-right">
										<a class="forgot-link" href="login.html">Already have an account?</a>
									</div>
									<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>
									<div class="login-or">
										<span class="or-line"></span>
										<span class="span-or">or</span>
									</div>
									<div class="row form-row social-login">
										<div class="col-6">
											<a href="#" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f mr-1"></i> Login</a>
										</div>
										<div class="col-6">
											<a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
										</div>
									</div>
								</form>
								<!-- /Register Form -->
                            </div>
                        </div>
                    </div>
                    <!-- /Register Content -->
                        
                </div>
            </div>

        </div>

    </div>      
    <!-- /Page Content -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<!-- Bootstrap Core JS -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
